#friends-display-link {
  text-align: center;
  display: block;
  background-color: #f5d59d;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__bookmark,
.friends-screen__friends {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__bookmark-header,
.friends-screen__friends-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background: linear-gradient(
    #150c4b,
    #02519f,
    #0468c7,
    #50c9f0,
    #83fddd,
    #c5ffd9,
    #c5ffd9,
    #c5ffd9,
    #c5ffd9,
    #c5ffd9
  );
  position: absolute;
  height: 150vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: hideSplashScreen 0.9s ease-in-out forwards;
  animation-delay: 0.9s;
}

.splash-screen__logo {
  width: 360px;
  height: 200px;
  margin-top: 270px;
  margin-right: 30px;
}
